* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", monospace;
}

body {
    background: black;
    color: red;
    height: 100vh;
    overflow: hidden;
}

/* Hacker background */
.matrix-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #120000 0%, #000000 70%);
    z-index: -1;
}

/* Center */
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Glitch text */
.glitch {
    font-size: 80px;
    color: red;
    text-shadow: 
        0 0 5px red,
        0 0 10px darkred;
    animation: flicker 2s infinite;
}

.glitch.red {
    font-size: 60px;
}

@keyframes flicker {
    0% { opacity: 1; }
    50% { opacity: 0.7; }
    80% { opacity: 1; }
}

/* Subtitle */
.subtitle {
    color: #ff4444;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

/* Info box */
.info {
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 30px;
    width: 300px;
    background: rgba(255, 0, 0, 0.05);
}

.info span {
    color: #ff7777;
}

/* About box */
.about-box {
    border: 1px dashed red;
    padding: 30px;
    width: 60%;
    background: rgba(255, 0, 0, 0.05);
}

.about-box p {
    margin-bottom: 15px;
}

/* Hacker warning */
.warning {
    color: #ff0000;
    font-size: 14px;
    text-align: left;
}

/* Button */
.btn {
    margin-top: 30px;
    padding: 12px 30px;
    color: red;
    border: 2px solid red;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: red;
    color: black;
    box-shadow: 0 0 15px red;
}
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}
.terminal {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background: black;
    border: 1px solid red;
    box-shadow: 0 0 15px red;
    text-align: left;
}

.terminal pre {
    color: #ff3333;
    font-size: 14px;
    line-height: 1.6;
    white-space: pre-wrap;
}
